{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": false,
    "node": true
  },
  "globals": {
    "fetch": true,
    "window": true,
    "__DEV__": true,
    "navigator": true,
    "ReactElement": true,
    "requestAnimationFrame": true,
    "jest": true,
    "Iterable": true,
    "Action": true,
    "console": true,
    "FormData": true
  },
  "plugins": [
    "react",
    "react-native",
    "@typescript-eslint"
  ],
  "settings": {},
  "rules": {
    "no-shadow": 0,
    "no-param-reassign": 0,
    "class-methods-use-this": 0,
    "react/jsx-no-bind": 0,
    "prefer-destructuring": 0,
    "no-restricted-syntax": 0,
    "comma-dangle": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-console": 0,
    "camelcase": 0,
    "react-native/no-unused-styles": 2,
    "no-return-assign": 0,
    "react/jsx-boolean-value": 0,
    "react/sort-comp": 0,
    "arrow-body-style": 0,
    "no-nested-ternary": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          "tsx"
        ]
      }
    ],
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "max-len": [
      "error",
      {
        "code": 150
      }
    ],
    "import/prefer-default-export": 0,
    "global-require": "off",
    "prefer-promise-reject-errors": "off",
    "padded-blocks": "off",
    "react/no-typos": "off",
    "no-underscore-dangle": "warn",
    "react/prop-types": 0,
    "consistent-return": "off",
    "no-unused-expressions": [
      "warn",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    // tslint
    "@typescript-eslint/indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
